{% extends 'PrayerlabsMyprofileBundle::layout.html.twig' %}
{% block title %}Signup{% endblock %}
{% block body %}
{% set account = form.vars.value %}
    <div class="mainWrapper clearfix">
        <img class="logo" src="{{ asset('bundles/prayerlabsmyprofile/images/logo.png') }}" alt="Logo" />
            
            <form id="editForm" name="editForm" action="" method="POST" accept-charset="utf-8" {{ form_enctype(form)}}>
                <p>{{ form_errors(form) }}</p>
                <p>
                    {{ form_widget(form.name, {'attr': {'placeholder':'Name', 'class':'fancyBox'} } ) }}
                </p>
                <p>
                    {{ form_widget(form.email, {'attr': {'placeholder':'Email', 'class':'fancyBox'} } ) }}
                </p>
               
                <p>
                    {{ form_widget(form.works_at, {'attr': {'placeholder':'Community', 'class':'fancyBox'} } ) }}
                </p>	
                <p>
                    {{ form_widget(form.place, {'attr': {'placeholder':'Place', 'class':'fancyBox'} } ) }}
                </p>
                <p>
                <table width="100%" cellpadding="2" cellspacing="2">
                    <tr>
                        <td colspan="2">
                        <label for="photo">Choose Profile Photo</label>
                        {{ form_widget(form.photo, {'attr': {'placeholder':'Photo', 'class':'fancyBox'} } ) }}
                        {% set profile_photo = 'uploads/author/'~ account.getId ~'/'~ account.getSmallPicName  %}
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                        <img src="{{ asset(profile_photo) }}" width="100" height="100" />
                        </td>
                        <td width="50">&nbsp;</td>
                    </tr>
                </table>                
                    
                </p>
                <p>
                    <table width="100%" cellpadding="2" cellspacing="2">
                    <tr>
                        <td colspan="2">
                    <label for="photo_large">Choose Cover Photo</label>
                    {{ form_widget(form.photo_large, {'attr': {'placeholder':'Cover Photo', 'class':'fancyBox'} } ) }}
                    {% set cover_photo = 'uploads/author/'~ account.getId ~'/'~ account.getBgPicName  %}
                    </td>
                    </tr>
                    <tr>
                        <td align="right">
                        <img src="{{ asset(cover_photo) }}" width="200" />
                        </td>
                        <td width="50">&nbsp;</td>
                    </tr>
                </table>    
                    
                </p>
                <p class="signButtons">
                    <input class="register" type="submit" value="Update"/> 
                    <input class="cancel" type="button" value="Cancel"/>
                </p>
                {{ form_rest(form) }}
            </form>
            
    </div>
    <script type="text/javascript">
        $('.cancel').click(function(){
            location.href='{{ path('prayerlabs_profile') }}';
        });
    </script>
{% endblock %}