{% extends 'PrayerlabsMyprofileBundle::layout.html.twig' %}
{% block body %}
    <div class="authorWrapper clearfix">
        <a href="#"><img src="{{ asset('bundles/prayerlabsmyprofile/images/left-arrow.png') }}" alt="Left Arrow" /></a>
        <div class="authorName clearfix"><h2>{{ user.name }}</h2></div>
        <a href="{{path('prayerlabs_posts_add')}}"><img class="edit" src="{{ asset('bundles/prayerlabsmyprofile/images/edit.png') }}" alt="Add Post" /></a>
    </div>
    <div class="mainWrapper clearfix">
        <div class="mainTop clearfix" style="background-image: url('{{ asset('uploads/author/') }}{{ user.id }}/{{ user.getBgPicName }}')">
            <img src="{{ asset('uploads/author/') }}{{ user.id }}/{{ user.getSmallPicName }}" alt="{{ user.name }}" width="160" height="161" />
            <h2>{{ user.name }}</h2>
            <h3>{{ user.place }}</h3>
            <h3>{{ user.worksat }}</h3>
        </div>
        <div class="mainMiddle clearfix">
            <div class="middleLeft clearfix">
                <a href="#"><img src="{{ asset('bundles/prayerlabsmyprofile/images/calender.png') }}" alt="Calender" /></a>
            </div>
            <div class="middleRight clearfix">
                <a href="#"><img src="{{ asset('bundles/prayerlabsmyprofile/images/active.png') }}" alt="Active" /></a>
            </div>
        </div>
        <div class="mainBottom clearfix">
            <div class="mainBottomWrapper clearfix">
                    <div class="mainBottomWrapperTop">
                        <div class="mainBottomLeft clearfix">
                            <img src="{{ asset('uploads/author/') }}{{ user.id }}/{{ user.getSmallPicName }}" class="clearfix" alt="{{ user.name }}" />
                            <div class="authorMeta clearfix">
                                <h2>{{ user.name }}</h2>
                                {% if posts|length > 0 %}                            
                                {% set post = posts[0] %}
                                <h3 class="days clearfix">{{ post.getCreatedAt|dateDiffFromNow }} ago</h3>
                                {% else %}
                                <h3 class="days clearfix">No Post available</h3>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mainBottomRight clearfix">
                            <ul>
                                <li><a href="#"><img src="{{ asset('bundles/prayerlabsmyprofile/images/indicator.png') }}" alt="Indicator"></a></li>
                                <li><a href="#"><img src="{{ asset('bundles/prayerlabsmyprofile/images/indicator.png') }}" alt="Indicator"></a></li>
                                <li><a href="#"><img src="{{ asset('bundles/prayerlabsmyprofile/images/indicator.png') }}" alt="Indicator"></a></li>
                            </ul>
                        </div>
                    </div>
                    {% if posts|length > 0 %}    
                    <p><!--Had a great conversation at  work todat with a guy who was asking me questios about Jesus. Was amazing. Raaly want more opportunities to talk this guy.-->
                    {{ post.description }}					
                    </p>
                    <div class="comments">
                    {% set comments = post.getComments() %}
                    {% set prayed   = post.getPrayed() %}
                    {% set authorList = '' %}
                    {% for comment in comments %}
                            <div class="singleComment">
                                    <div class="authorImage">
                                            <img src="{{ asset('bundles/prayerlabsmyprofile/images/jono.png') }}" alt="{{comment.accounts.name}}" />
                                    </div>
                                    <div class="commentContent">
                                            <p><span class="commentAurhorName">{{comment.accounts.name}}</span>
                                            {{comment.description}}
                                            </p>
                                            <p class="days clearfix">{{ comment.getCreatedAt|dateDiffFromNow }} ago</p>
                                    </div>
                            </div>
                            {% set authorList = authorList~comment.accounts.name~',' %}
                    {%endfor%}
                            <!--
                            <div class="singleComment">
                                    <div class="authorImage">
                                            <img src="{{ asset('bundles/prayerlabsmyprofile/images/angela.png') }}" alt="Angela" />
                                    </div>
                                    <div class="commentContent">
                                            <p><span class="commentAurhorName">Angela Haythorpy</span> Praying mate!</p>
                                            <p class="days clearfix">2 Days ago</p>
                                    </div>
                            </div>
                            -->
                    </div>
                    <p class="status">Already <a href="#"><span id="pCounter">{{prayed|length}}</span> Prayed</a> - <a href="#">{{comments|length}} Comments</a> - <a href="#">{{authorList}}<!--Tom Allsop, Matt...--></a></p>
                    <p class="addTo"><a class="addPray" href="javascript:void(0)">Pray</a><a class="addComment" href="javascript:void(0)">Comments</a></p>
                    <form id="commentForm" action="#" method="post" accept-charset="utf-8">
                            <input type="hidden" name="post_id" id="post_id" value="{{post.id}}" />
                            <label for="commentBox">Write a comment:</label>
                            <textarea name="commentBox" id="commentBox" placeholder="Enter your comment" rows="8" cols="40" postid="{{post.id}}"></textarea>	
                            <p><input type="button" value="Submit Comment" class="submitButton" /> <input type="reset" value="Clear"/></p>
                    </form>
                    {% else %}
                    <p> No Post Available</p>
                    {% endif %}
                </div>
        </div>
    </div>
<script type="text/javascript">
{% set user = app.session.get('user') %}
    $('.addPray').click(function(){
        var postId = $('#post_id').val();
        //$(this).attr('disabled', 'disabled');
        $(this).unbind('click');
        $(this).text('Prayed');
        var total = parseInt($('#pCounter').text());
        $('#pCounter').text(total+1);
        $.post('{{path('save_prayed')}}', { postId: postId }, function(){
            // prayed successfully!
        });       
    });
    $('.addComment').click(function(){
            $('#commentForm').toggle('slide');

            var n = $(document).height();
            $('html, body').animate({ scrollTop: n },'50');

    });
    $('.submitButton').click(function(){
            var inputBox       = $(this).parents('#commentForm').find('textarea');
            var idOfPost       = inputBox.attr('postid');
            var valueOfComment = inputBox.val();
            $.post('{{path('save_comment')}}', { postId: idOfPost, comment: valueOfComment }, function(){
                    $('#commentForm').toggle('slide');
                    inputBox.val('');

                    $('.comments').append('<div class="singleComment">\
                                            <div class="authorImage">\
                                                    <img src="{{ asset('bundles/prayerlabsmyprofile/images/jono.png') }}" alt="{{user.name}}" />\
                                            </div>\
                                            <div class="commentContent">\
                                                    <p><span class="commentAurhorName">'+'{{user.name}}'+'</span>\
                                                    '+valueOfComment+'</p>\
                                                    <p class="days clearfix">recently</p>\
                                            </div>\
                                    </div>');				
            });
    });

</script>
{% endblock %}